/Trafico_Proyecto/nbproject/private/
/Proyecto_Tienda_Electronica/nbproject/private/
/Proyecto_Tienda_Electronica/build/
/Proyecto_Tienda_Electronica/dist/
/Proyecto_Hospital/Proyecto_Hospital/build/
/Proyecto_Hospital/Proyecto_Hospital/nbproject/private/
/ProyectoDeTransporte/build/
/ProyectoDeTransporte/nbproject/private/
