/Trafico_Proyecto/nbproject/private/
/Proyecto_Tienda_Electronica/nbproject/private/
/Proyecto_Tienda_Electronica/build/
/Proyecto_Tienda_Electronica/dist/
/StringTokenizerEj/nbproject/private/
/StringTokenizerEj1/nbproject/private/
/StringTokenizerEj1/build/
